*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans';
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.blue-button {
  padding: 20px 60px;
  border-radius: 12px;
  gap: 8px;
  font-weight: $fw-600;
  color: $white;
  background: #047AE0;
  background: linear-gradient(90deg, rgba(4, 122, 224, 1) 49%, rgba(44, 157, 255, 1) 100%);
  transition: all 0.3s ease;

  &:hover {
    box-shadow:
      0 0px 20px rgba(4, 122, 224, 0.8),
      0 2px 30px rgba(0, 0, 0, .25);
  }
}