body {
    background-color: #1a1d29;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #000; 

  .logo-text {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .logo-icon {
    transition: transform 0.5s ease-in-out;
  }

  &:hover {
    .logo-icon {
      transform: rotate(360deg);
    }
  }
}