body {
    background-color: $deep-gunmetal;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: $black; 

  .logo-text {
    color: $white;
    font-size: $fs-24;
    font-weight: $fw-700;
    letter-spacing: 1px;
  }

  .logo-icon {
    transition: transform 0.5s ease-in-out;
  }

  &:hover {
    .logo-icon {
      transform: rotate(360deg);
    }
  }
}