// FONT SIZE

$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-26: 26px;
$fs-28: 28px;
$fs-30: 30px;


// FONT WEIGHT

$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

// COLOURS

$white: #fff;
$deep-gunmetal: #1a1d29;
$cool-gray: #8d8e94;
$black: #000;